In [ ]:
#Join these datasets using Store column
#Fill missing values using appropriate techniques
#Extract new columns from date column and ignore the Data column
#Ignore the customer column for this analysis, since we might not know the customer count for future dates. Hence this column should not be an input to the model
#Convert non-numerical columns to numerical columns using appropriate methods
#Split data in to training (80%) and testing (20%) (use random_state=1)
#Standardize all input columns using StandardScaler function in sklearn
#Using relevant influencing columns, build a linear regression model
#Report RMSE, R square value
#Plot the coefficients of the input variables using the bar chart

In [1]:
import pandas as pd
import io

from google.colab import files
uploaded = files.upload() 
#Import the above file into a Pandas data frame 
df_sales = pd.read_csv(io.BytesIO(uploaded['sales.csv']),sep =",",engine='python')
display(df_sales)

Saving sales.csv to sales.csv

         Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
0            1          5  2015-07-31  ...      1             0              1
1            2          5  2015-07-31  ...      1             0              1
2            3          5  2015-07-31  ...      1             0              1
3            4          5  2015-07-31  ...      1             0              1
4            5          5  2015-07-31  ...      1             0              1
...        ...        ...         ...  ...    ...           ...            ...
1017204   1111          2  2013-01-01  ...      0             a              1
1017205   1112          2  2013-01-01  ...      0             a              1
1017206   1113          2  2013-01-01  ...      0             a              1
1017207   1114          2  2013-01-01  ...      0             a              1
1017208   1115          2  2013-01-01  ...      0             a              1

[1017209 rows x 9 columns]

In [4]:
import pandas as pd
import io

from google.colab import files
uploaded = files.upload() 
#Import the above file into a Pandas data frame 
df_stores = pd.read_csv(io.BytesIO(uploaded['store.csv']),sep =",",engine='python')
display(df_stores)

Saving store.csv to store (1).csv

      Store StoreType  ... Promo2SinceYear     PromoInterval
0         1         c  ...             NaN               NaN
1         2         a  ...          2010.0   Jan,Apr,Jul,Oct
2         3         a  ...          2011.0   Jan,Apr,Jul,Oct
3         4         c  ...             NaN               NaN
4         5         a  ...             NaN               NaN
...     ...       ...  ...             ...               ...
1110   1111         a  ...          2013.0   Jan,Apr,Jul,Oct
1111   1112         c  ...             NaN               NaN
1112   1113         a  ...             NaN               NaN
1113   1114         a  ...             NaN               NaN
1114   1115         d  ...          2012.0  Mar,Jun,Sept,Dec

[1115 rows x 10 columns]

In [15]:
#df = pd.concat([df_stores, df_sales], axis=1, join="inner")
df = pd.merge(df_stores, df_sales, on="Store", how="outer")

In [ ]:
df

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   StoreType                  1017209 non-null  object
 2   Assortment                 1017209 non-null  object
 3   CompetitionDistance        1017209 non-null  float64
 4   CompetitionOpenSinceMonth  1017209 non-null  float64
 5   CompetitionOpenSinceYear   1017209 non-null  float64
 6   Promo2                     1017209 non-null  int64
 7   Promo2SinceWeek            1016267 non-null  float64
 8   Promo2SinceYear            1016267 non-null  float64
 9   PromoInterval              1016267 non-null  object
 10  DayOfWeek                  1017209 non-null  int64
 11  Date                       1017209 non-null  object
 12  Sales                      1017209 non-null  int64
 13  Customers                  1017209 non-null  int64
 14  Open                       1017209 non-null  int64
 15  Promo                      1017209 non-null  int64
 16  StateHoliday               1017209 non-null  object
 17  SchoolHoliday              1017209 non-null  int64
dtypes: float64(5), int64(8), object(5)
memory usage: 147.5+ MB

In [16]:
df.fillna(method='ffill', inplace=True)

In [18]:
df['Date']

0          2015-07-31
1          2015-07-30
2          2015-07-29
3          2015-07-28
4          2015-07-27
              ...
1017204    2013-01-05
1017205    2013-01-04
1017206    2013-01-03
1017207    2013-01-02
1017208    2013-01-01
Name: Date, Length: 1017209, dtype: object

In [ ]:
df.drop(['Customers'],axis=1, inplace=True)

In [ ]:
#Convert non-numerical columns to numerical columns using appropriate methods
d_types = dict(df.dtypes)

for name , type in d_types.items():
  if str(type) == 'object':
   pd.get_dummies(df, columns=[name])

In [ ]:
X = data.iloc[:,:-1].values
Y = data.iloc[:,-1].values

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, random_state=0) 
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

In [ ]:
from sklearn.preprocessing import StandardScaler

sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,Y_train)

Y_pred = model.predict(X_test)

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
model.coef_.dot(X_test[10,:]) + model.intercept_

In [ ]:
model.predict(X_test[10,:].reshape(1,-1))

In [ ]:
def rmse_score(Y_test, Y_pred):
  value = (1/len(Y_test))*np.sum((Y_test - Y_pred)**2))
  return np.sqrt(value)

 def r2_score(Y_test, Y_pred):
   ssr = (1/len(Y_test))*np.sum((Y_test - Y_pred)**2)
   sst = (1/len(Y_test))*np.sum((Y_test - np.mean(Y_test))**2)

In [ ]:
rmse_scores = []
r2_scores = []

rmse_scores.append(rmse_score(Y_test, Y_pred))
r2_scores.append(r2_score(Y_test, Y_pred))

In [ ]:
coef = pd.Series(model.coef_,Y_train.columns).sort_values()
coef.plot(kind='bar',title='Model Coefficients')